
.randomsec{
	display: inline-block;
	width: 68%;
}
.instrucciones{
	width: 80%;
	height: 200px;
	border: 5px solid black;
	border-radius: 30%;
	margin: 30px auto 60px auto;
	background-image: url("../imagenes/fondocrema.jpg");

}

	.text{
		margin-bottom: 20px;
		text-align: center;
		padding: 40px;
		margin: 0 auto;
		font-family: 'Lobster', cursive;
		font-size:25px;
	}


.dimart 


		{
			border: 3px solid #696969;
			border-radius: 10px 10px;
			width: 80%;
			height: 500px;
			margin: 10px 10px 10px 33px;
			position: relative;
			background-color: lavender;
			display: none;
			font-size: 25px;
		
			/*transition: width 1s, height 1s, font-size 1s, float 1s;*/
		}
		

		.booktitle

			{
				font-family: arial;
				font-size: 20px;
				font-weight: bolder;
				margin: 5px;
			}

			.imgs
			{
				width: 24%;
				height: 48%;
				left: 5px;
				top: 50px;
				position:absolute;
				
			}

			.abstract
			{
				display: inline-block;
				width:60%;
				margin: 5px;
				position: absolute;
				right: 5px;
				top: 5px;
			}

			.infolist 
			{
					width: 48%;
				/* border: 2px solid black; */
				margin: 5px;
				position: absolute;
				bottom: 5px;
				left: 5px;
			}	
	
.elegido
{
	display:block;
	margin:0 auto;
	margin-bottom:60px;
}